<!-- start inportant-people-section -->
<section class="inportant-people-section section-padding" id="people">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <div class="section-title">
          <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
          <h2>Подарки</h2>
        </div>
      </div>
    </div> <!-- end section-title -->

    <div class="row">
      <div class="col col-xs-12">
        <div class="inportant-people-content">
          <div class="tablist">
            <ul class="nav">
              <li class="active">
                <a href="#groomsmen" data-toggle="tab">Книжки</a>
              </li>
              <li>
                <a href="#bridesmaid" data-toggle="tab">Игрушки</a>
              </li>
              <li>
                <a href="#bridesmaid2" data-toggle="tab">Одежда</a>
              </li>
            </ul>
          </div>

          <div class="tab-content">
            <div class="tab-pane fade in active grid-wrapper" id="groomsmen">
              <div class="grid">
                <div class="img-holder">
                  <a href="template/images/groomsmen/img-1.jpg" class="popup-image">
                    <img src="template/images/groomsmen/img-1.jpg" alt class="img img-responsive">
                  </a>
                </div>
                <div class="details">
                  <h3>"Маленький принц" Антуан де Сент-Экзюпери</h3>
                  <span>19 BYN</span>
                  <ul class="social-links">
                    <li><a href="https://oz.by/books/more1039921.html">ссылка на подарок</a></li>
                  </ul>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a href="template/images/groomsmen/img-2.jpg" class="popup-image">
                    <img src="template/images/groomsmen/img-2.jpg" alt class="img img-responsive">
                  </a>
                </div>
                <div class="details">
                  <h3>Мини-книжки для малыша. 9 книжек-кубиков</h3>
                  <span>21 BYN</span>
                  <ul class="social-links">
                    <li><a href="https://oz.by/books/more10421329.html">ссылка на подарок</a></li>
                  </ul>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a href="template/images/groomsmen/img-3.jpg" class="popup-image">
                    <img src="template/images/groomsmen/img-3.jpg" alt class="img img-responsive">
                  </a>
                </div>
                <div class="details">
                  <h3>Цвет. И другие из серии книжки-улитки</h3>
                  <span>5 BYN</span>
                  <ul class="social-links">
                    <li><a href="https://oz.by/books/more10612258.html">ссылка на подарок</a></li>
                  </ul>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a href="template/images/groomsmen/img-4.jpg" class="popup-image">
                    <img src="template/images/groomsmen/img-4.jpg" alt class="img img-responsive">
                  </a>
                </div>
                <div class="details">
                  <h3>Книга для чтения детям от 6 месяцев до 3 лет</h3>
                  <span>12 BYN</span>
                  <ul class="social-links">
                    <li><a href="https://oz.by/books/more10440736.html">ссылка на подарок</a></li>
                  </ul>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a href="template/images/groomsmen/img-5.jpg" class="popup-image">
                    <img src="template/images/groomsmen/img-5.jpg" alt class="img img-responsive">
                  </a>
                </div>
                <div class="details">
                  <h3>Первый учебник малыша. От 6 месяцев до 3 лет</h3>
                  <span>18 BYN</span>
                  <ul class="social-links">
                    <li><a href="https://oz.by/books/more10117966.html">ссылка на подарок</a></li>
                  </ul>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a href="template/images/groomsmen/img-6.jpg" class="popup-image">
                    <img src="template/images/groomsmen/img-6.jpg" alt class="img img-responsive">
                  </a>
                </div>
                <div class="details">
                  <h3>"Знаешь, как я тебя люблю?" Сэм Макбратни</h3>
                  <span>35 BYN</span>
                  <ul class="social-links">
                    <li><a href="https://oz.by/books/more10273598.html">ссылка на подарок</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="tab-pane fade grid-wrapper" id="bridesmaid">
              <div class="grid">
                <div class="img-holder">
                  <a href="template/images/bridesmaid/img-1.jpg" class="popup-image">
                    <img src="template/images/bridesmaid/img-1.jpg" alt class="img img-responsive">
                  </a>
                </div>
                <div class="details">
                  <h3>Турник</h3>
                  <span>Made of honor</span>
                  <ul class="social-links">
                    <li><a href="#">ссылка на подарок</a></li>
                  </ul>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a href="template/images/bridesmaid/img-2.jpg" class="popup-image">
                    <img src="template/images/bridesmaid/img-2.jpg" alt class="img img-responsive">
                  </a>
                </div>
                <div class="details">
                  <h3>Качели</h3>
                  <span>Best friend</span>
                  <ul class="social-links">
                    <li><a href="#">ссылка на подарок</a></li>
                  </ul>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a href="template/images/bridesmaid/img-3.jpg" class="popup-image">
                    <img src="template/images/bridesmaid/img-3.jpg" alt class="img img-responsive">
                  </a>
                </div>
                <div class="details">
                  <h3>Лабиринт "Желтый"</h3>
                  <span>20 BYN</span>
                  <ul class="social-links">
                    <li><a href="https://oz.by/kids/more10562562.html">ссылка на подарок</a></li>
                  </ul>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a href="template/images/bridesmaid/img-4.jpg" class="popup-image">
                    <img src="template/images/bridesmaid/img-4.jpg" alt class="img img-responsive">
                  </a>
                </div>
                <div class="details">
                  <h3>Моя первая говорящая книга</h3>
                  <span>39 BYN</span>
                  <ul class="social-links">
                    <li><a href="https://oz.by/kids/more10538896.html">ссылка на подарок</a></li>
                  </ul>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a href="template/images/bridesmaid/img-5.jpg" class="popup-image">
                    <img src="template/images/bridesmaid/img-5.jpg" alt class="img img-responsive">
                  </a>
                </div>
                <div class="details">
                  <h3>Цветные плашки</h3>
                  <span>11 BYN</span>
                  <ul class="social-links">
                    <li><a href="https://oz.by/kids/more10479292.html">ссылка на подарок</a></li>
                  </ul>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a href="template/images/bridesmaid/img-6.jpg" class="popup-image">
                    <img src="template/images/bridesmaid/img-6.jpg" alt class="img img-responsive">
                  </a>
                </div>
                <div class="details">
                  <h3>Holly Fie</h3>
                  <span>Friend</span>
                  <ul class="social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</section>
<!-- end inportant-people-section -->