<!-- start inportant-people-section -->
<section class="inportant-people-section section-padding" id="people">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <div class="section-title">
          <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
          <h2>Подарки</h2>
        </div>
      </div>
    </div> <!-- end section-title -->

    <div class="row">
      <div class="col col-xs-12">
        <div class="inportant-people-content">
          <div class="tablist">
            <ul class="nav">
              <li *ngFor="let tab of tabs" class="{{tab.id === selectedTab ? 'active' : ''}}" >
                <a (click)="selectedTab = tab.id" data-toggle="tab">{{tab.name}}</a>
              </li>
            </ul>
          </div>

          <div class="tab-content">
            <div class="tab-pane in active grid-wrapper">
              <div class="grid" *ngFor="let good of getGudsByTabId()">
                <div class="img-holder">
                  <a href="{{good.link}}" class="popup-image">
                    <img src="template/images/{{good.tab}}/{{good.img}}.jpg" alt class="img img-responsive">
                  </a>
                </div>
                <div class="details">
                  <h3>{{good.name}}</h3>
                  <span>{{good.price}}</span>
                  <ul class="social-links">
                    <li *ngIf="!good.reserved">
                        <input type="text" [(ngModel)]="good.by" placeholder="Ваше имя">
                        <a class="btn btn-primary" style="color: white" (click)="reservation(good)">Зарезервировать</a>
                    </li>
                    <li *ngIf="!good.reserved && good.by">
                      Зарезервировано за <br> {{good.by}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</section>
<!-- end inportant-people-section -->